
body{
  background: rgb(0,0,0);
  --color1:rgb(167, 170, 176);
  color: var( --color1);
  font-family: "Inter", sans-serif;font-weight: 500;
 
}
img{
  max-width: 100%;
}
p, ul, a{
  color: var( --color1);
}
body, input, textarea, select, button {
  font-size: 14px;
  font-family: sans-serif;color: var( --color1);
}
.container{
  max-width: 1320px;
}
ul{
  padding: 0;
}
ul li{
  list-style-type: none;
}
.logo img{
  max-width: 104px;
}
a{
  text-decoration: none;
}
a:hover{
  opacity: 0.8;
}
header nav ul li a{
  padding: 0px 20px;color: var(--color1);font-weight: 500;
}
header .container{
  max-width: 1227px;
}
header a{
  font-size: 16px;font-weight: 500;
}
.btn{
  font-size: 14px;
  background: linear-gradient(97.1367deg, rgb(33, 33, 33) 0%, rgb(66, 66, 66) 193.29%);
  color: white;border-radius: 100px;position: relative;font-weight: 600;
}

.btn.btn-sq{
  border-radius: 8px;
  padding: 10px 20px 10px 20px;font-size: 16px;line-height:16px;font-weight: 600;display: flex;align-items: center;width: fit-content;
}
.btn.btn-border{
  border: 1px solid rgba(207, 212, 220, .1);
  background: linear-gradient(94deg,rgba(66,66,66,.5) 0%,rgba(66,66,66,.2) 100%);
  box-shadow: 0 1px 2px #1018280d;
  padding: 10px 16px;
  border-radius: 8px;
  min-width: 250px;text-align: center;
}
.btn.btn-border img{
  height: 20px;
  width: auto;
  margin-right: 8px;
}.btn.btn-t{
  background: transparent;color: var(--color1);
}
.btn.btn-sq img, .btn svg{
  height: 20px;width: auto;
}
.btn svg{
  margin-left: 5px;
}
.btn.btn-t:hover{
  background-color: rgba(255, 255, 255, 0.2);
}
.btn:after{
  content: '';
  width: 10px;
  height: 100%;
  position: absolute;
  left: -20px;
  opacity: 0;
  top: 0;
background: radial-gradient(50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  filter: blur(12px);
  transform: none;
  transform-origin: 50% 50% 0px;transition: left 0.5s;
}
.btn:hover:after{
  opacity: 1;transition: left 0.5s;left:100%
}
.space-mr{
  margin: 180px 0px;
}
.space-pd{
  padding: 180px 0px;
}
.frame-image-sc .container{
  max-width: 1180px;
}
.extract-sc .container{
  max-width: 1030px;
}
.extract-sc .rgt img{
  border-radius: 35px;
  max-width: 336px;
  height: 285px;
  width: 100%;
}
.extract-sc .lft{
  padding-right: 100px;
}
h2, .h2{
  font-size: 40px;
  
}
body,p{
  font-size: 18px;
}
.footer{
  background-color: rgb(8,8,8);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.copy-right-sc{
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 30px;margin-top: 30px;
}
footer nav ul li a{
  margin-right: 25px;color: white;font-weight: 500;
}
.footer-links svg{
  height: 25px;width: 25px;
}
.footer-links path{
  fill:var(--color1)
}
.footer-links ul li a:hover{
background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.footer-links  ul li a{
padding: 8px;
}
.top-title{
  text-transform: uppercase;
  letter-spacing: .36em;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.table-sc h1{
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.outer-banner{
  overflow: visible

}
.banner h1{
  color: #e6e6e6;
}
.banner{
  padding-top: 140px;
  position: sticky;overflow: visible; position: -webkit-sticky;top:0;z-index: 1;
}
.frame-image-sc img{
  position: relative;
  z-index: 2;
  /* background-color: rgb(0,0,0); */
}
.frame-image-sc{
  background-color: rgb(0,0,0);position: relative;
  z-index: 2;
}
h1, .h1{
  font-size: 52px;
}
.form-control{
  background: rgba(38, 38, 38, 0.7) !important;
  color: rgb(255, 255, 255) !important;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px inset, rgb(38, 38, 38) 0px 0px 0px 1px inset !important;
  border: none;font-size: 14px;
  line-height: 14px;
  padding: 15px;
}
.form-control::placeholder{
  color: rgb(255, 255, 255,0.3);
}
.banner-form-sec .form-control{
  min-width: 334px;
}
.banner-form-sec .btn{
  font-size: 16px;
}
.banner-form-sec .btn svg path{
  fill: white;
}
.or-sec{
  width: 500px;position: relative;margin-left: auto;margin-right: auto;
}
.or-sec:before{
  content: '';
  width: calc(50% - 30px);
  height: 1px;
  background-color: rgb(255, 255, 255,0.2);
  position: absolute;
  left: 0;
  top: 50%;
}
.or-sec:after{
  content: '';
  width: calc(50% - 30px);
  height: 1px;
  background-color: rgb(255, 255, 255,0.2);
  position: absolute;
  right: 0;
  top: 50%;
}
.signup-text{
  font-size: 14px;
}
body .slick-dots li button:before{
content: none;
}
body .slick-dots li button{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255,0.7);
}
body .slick-dots .slick-active button{
background-color: white;
}
body .slick-dots{
  bottom: -85px;
}
.modal.active{
  display: block;opacity: 1;
 
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-dialog{display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.close{
  background-color: black;
  border: none;
  color: white;font-weight: 600;font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
}
.label-sc{
  display: flex;font-weight: 500;border-radius: 5px;
  align-items: center;background-color: rgba(255, 255, 255, 0.06);color: white;
  margin-right: 10px;border-radius: 5px;font-size: 14px;padding: 8px 16px;margin-bottom: 12px;
}
.label-sc input{
  margin-right: 8px;accent-color: rgb(0, 0, 0);

}
.amounsc1{
  font-weight: 500;font-size: 14px;
}
.amounsc1 input{
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 5px;
 color: white;padding: 5px 10px;
  border: none;
  width: 60px;
}
.more-settings.active .settings-inner{
  opacity: 1;height: 100%;transition: all 0.5s;
}
.more-settings .btn{
  cursor: pointer;
}
.more-settings.active  .btn{
  width: 100%;text-align: center;justify-content: center;
}
.ross{
  cursor: pointer;
}
.settings-inner{
  opacity: 0;height: 0;transition: all 0.5s;
}
input:focus{
  outline: none !important;
}
.outer-more-settings{
  width: 250px;
}
.btm-shadow{
background: -webkit-linear-gradient(#eee, #333);
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body.hidden #root{
  height: 0px;overflow: hidden;
}
@media(min-width:1200px){
  .footer{
    padding-top: 100px;
  }
}
@media (max-width:991px){
  h1,.h1{
    font-size: 40px;
  }
  h2, .h2{
    font-size: 30px;
  }
  .banner{
    padding-top: 100px;
  }
  .space-pd{
    padding: 100px 0px;
  }
  .space-mr{
    margin: 100px 0px;
  }
}
@media (max-width:767px){
  body .google_interface{
    padding-bottom: 20px;
  }
 body .capsul_tab{
  flex-wrap: wrap;
 }
  body .right{
    padding-right: 0;
  }
  body .header_ser{
    height: auto;
    padding-bottom: 0;
  }
  .google_serach{
    margin: 15px 0px;
  }
  .space-pd{
    padding: 80px 0px;
  }
  .space-mr{
    margin: 80px 0px;
  }
  h2, .h2{
    font-size: 24px;
  }
  .extract-sc .lft{
    padding-right: 0;
  }
  body, p, ul, a{
    font-size: 14px;
  }
  .footer{
    text-align: center;
  }
  footer nav ul li a{
    padding: 0;font-size: 16px;
  }
  footer nav ul{
    flex-wrap: wrap;
  }
  footer nav ul li{
    width: 100%;
    margin: 15px 15px;
  }
  .btm-btn-sc  .btn{
    display: block;
    width: 100%;
    margin: 15px 0px;
  }
  .or-sec{
    width: 100%;
  }
  .banner-form-sec .btn{
    width: 100%;text-align: center;
  }
  h1, .h1{
    font-size: 30px;
  }
  header.active{
  position: fixed;
  background: black;
  height: 100%;
  z-index: 1;width: 100%;left: 0;top: 0;
  }
  header.active ul li{
   
    margin: 35px 0px;
  }
  header.active ul li a{
    font-size: 16px;font-weight: 600;
  }
  header.active .btn-sec a{
    display: block;
    width: 100%;
    margin: 10px 0px;color: white;
    background: linear-gradient(97.1367deg, rgb(33, 33, 33) 0%, rgb(66, 66, 66) 193.29%);
  }
  .active-mb{
    display: none;
  }
  .active .active-mb{
    display: block;
  }
  .hamburger-react{
    margin-left: auto;
  }
  .banner{
    padding-top: 60px;
  }
  .banner-form-sec .form-control{
    min-width: auto;width: 100%;
  }
}
@media (max-width:1199px){
  .banner{
    position: relative;
  }
}

.google_serach_input::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

.google_serach_input::-ms-input-placeholder { /* Edge 12 -18 */
  color: #fff;
}
.google_logo img{
  object-fit: contain;
}
.wrapper{
  background: #000000;
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
}


.desktop_mockup{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  background: #323232;
  padding: 10px;
  border-radius: 20px;

}

.google_interface{
  background: #1f1f1f;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-box-shadow: -7px -7px 24px -9px rgba(0,0,0,0.43);
  -moz-box-shadow: -7px -7px 24px -9px rgba(0,0,0,0.43);
  padding-bottom: 50px;

}

.header_area{
  border-bottom: 1px solid #313131;
}

.header_ser {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-left: 50px;
 
}

.serach_wrapper {
  width: 60%; 
  display: flex;
  align-items: center;
  gap: 20px;
}

.google_serach {
  width: 100%;
  height: 40px;
  background: #303135;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.ser{
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}

.google_serach_input {
  width: 100%;
  line-height: 40px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 20px;

}

.end_area{
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-left: 1px solid #535353;
  margin-left: 5px;
}

.goog_btn{
  background: transparent;
  border: 0;
  outline: 0;
 display: inline-block;
 

  
}
.mic img{
  width: 15px;
}
.serch_ico img{
  width: 15px;
}

.lens img{
  width: 25px;
}

.close{
  width: 20px;
}
.close svg{
  fill: #9e9e9e;
}

.brand_logo_img{
  width: 26px;
  height: 26px;
  object-fit: cover;
}


.google_serach_result{
  padding-left: 50px;
  padding-top: 20px;
  max-width: 600px;
  width: 100%;
}

.brand_logo_img img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}


.serach_item{
  display: flex;
  align-items: center;
  gap: 10px;
}

.barnd_name h6{
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color:#dadce0;
  font-weight: normal;
}


.link{
  display: flex;
  align-items: center;
  justify-content: center;
}

.website_link{
  display: inline-block;
  font-size: 12px;
  color: #bdc1c6;
  line-height: 18px;
  text-decoration: none;
}

.modal_dot{
  display: inline-block;
  font-size: 18px;
  color: #bdc1c6;
}
.serach_result_main a{
  text-decoration: none;
}

.serach_result_main a h1 {
  font-size: 20px;
  line-height: 26px;
  color: #c58af9;
  text-decoration: none;
  font-weight: normal;
}

.serach_result_main a h1:hover{
text-decoration: underline;
}

.info{
  color: #bdc1c6;
  font-size: 14px;
  line-height: 1.58;
}

.brand_name_highlisght{
  font-weight: bold;
}

.Ktlw8e{
margin: 0;
max-width: 568px;
width: 100%;
padding: 18px 0 4px 16px;
}

.iCzAIb a{
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #fff;
}

.iCzAIb a:hover{
  border-bottom: 2px solid #fff;
}
.d-none-icon{
  display: none;
}

.right{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding-right: 50px;
}

.search_labs{
cursor: pointer;
}

.gmail{
  width: 30px;
  height: 30px;
  
}

.gmail img{
  width: 100%;
  height: 100%;
  border-radius: 50%;

}

.tabs{
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  max-width: 700px;
  width: 100%;
}
.tab_btn{
  outline: 0;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 10px 10px;
  font-size: 15px;
  color: #707070;
  font-family: Arial, sans-serif;
  font-weight: normal;
}
.tab_btn.active{
color:#fff;
border-bottom: 2px solid #fff;
}


.capsul_tab{
  padding-left: 50px;
  padding-top: 20px; 

}

.capsul{
  outline: 0;
  cursor: pointer;
  background: transparent;
  border: 1px solid #757575;
  padding: 8px 20px;
  font-size: 15px; 
  color: #fff;
  border-radius: 20px;
  margin-right: 5px;
}






@media (max-width: 768px) {
  .wrapper{
      padding: 10px;
      height: 100%;
  } 

  .desktop_mockup{
      height: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper{
      padding: 10px;
      height: 100%;
  }
  .google_serach {
      padding: 20px 20px;
  }
  .google_serach_input{
      width: 100%;
  }
  .google_serach_result{
      padding: 20px 20px;
  }
  .serach_result_main h1 a {
      font-size: 18px;
      color: #c58af9;
      text-decoration: none;
      font-weight: normal;
  }
  .d-none{
      display: none;
  }

  .iCzAIb a{
      font-size: 16px;
      line-height: 20px; 
      
  }
  .Ktlw8e{
      padding: 15px 0px;
      border-bottom: 1px solid #313131;
 
  }
  .d-flx{
      display: flex;
      justify-content: space-between;
  }
  .d-none-icon{
      display: block;
      font-size: 25px;
      color: #fff;
  }

  .capsul_tab{
      display: flex;
      flex-wrap: nowrap; /* Prevent wrapping to new lines */
      overflow-x: auto; /* Enable horizontal scrolling if needed */
      justify-content: space-between; /* Distribute buttons evenly */
      box-sizing: border-box;
      padding: 8px;
  
  }

  .capsul_tab .capsul {
      flex: 1; /* Make buttons take equal space */
      margin: 5px;
      font-size: 10px;
      padding: 10px 15px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      text-align: center;
      white-space: nowrap; /* Prevent text wrapping inside buttons */
      border: 1px solid #757575;
  }

  .tabs{
     flex-direction: row;
      padding: 0 20px;
      width: 100%;
  }
  .left_tabs{
      display: flex;
      flex-wrap: nowrap; /* Prevent wrapping to new lines */
      overflow-x: auto; /* Enable horizontal scrolling if needed */
      justify-content: space-between; /* Distribute buttons evenly */
      box-sizing: border-box;
      padding: 8px;
  }
  .left_tabs .tab_btn{
      flex: 1; 
      margin: 5px;
      font-size: 10px;
      padding: 5px; 
  }

  .serach_wrapper {
      width: 100%; 
      flex-direction: column;
      gap: 0px;
  }
  .end_area{
  display: none;
  }
  .header_ser {
      height: 100px;
     flex-direction: column;
      width: 100%;
      padding: 20px 20px;
     
  }
  .google_logo img{
height: 25px;
  }
  .desktop_mockup{
      height: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .wrapper{
      padding: 10px;
      height: 100%;
  }
  .desktop_mockup{
      height: 100%;
  }
}